/*
Developer:      Awais Goraya
Developer URL:  https://www.linkedin.com/in/awais-goraya-867228235/
Company:        Developera
Company URL:    developera.io
Descriptipon:   This file contains all styling properties for the Header.
*/

@import url(theme-root.css);

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--prominent-bg);
}

.footer-description {
    font-family: var(--inter-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--footer-text);
    width: 60%;
    margin-top: 30px;
}

.footer-subheading {
    font-family: var(--inter-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--footer-heading);
}

.footer-list {
    padding: 0px !important;
}

.footer-list li {
    list-style: none;
    margin-bottom: 7px;
}

.footer-list li:last-child {
    margin-bottom: 0px;
}

.footer-list li a {
    text-decoration: none;
    font-family: var(--lato-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3D3D3D;
}

.new {
    padding: 2px 8px;
    border: 1px solid #3D3D3D;
    font-family: var(--inter-font-family);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #3D3D3D;
    border-radius: 50px;
    margin-left: 5px;
}

.footer-field {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--btn-border);
    background-color: var(--off-bg);
    font-family: var(--inter-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717680;
    width: 60%;
}

.footer-btn {
    background-color: var(--primary-bg);
    border: none;
    border-radius: 6px;
    color: var(--off-text);
    padding: 10px 16px;
    font-family: var(--inter-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.footer-end {
    border-top: 1px solid var(--border-1);
    padding-top: 32px;
    margin-top: 60px;
}

.copy-right-text {
    font-family: var(--inter-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717680;
    margin: 0px;
}

.footer-end-list {
    padding: 0px;
    margin: 0px;
    margin-top: -6px;
}

.footer-end-list li {
    list-style: none;
}

.footer-end-list li a {
    text-decoration: none;
    font-family: var(--inter-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717680;
}

@media only screen and (max-width: 1024px) {
    .footer-description {
        width: 80%;
    }

    .newsletter {
        flex-wrap: wrap;
    }

    .footer-field {
        width: 100%;
    }

    .footer-btn {
        margin-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .top-footer .col-md-2 {
        width: 50% !important;
    }

    .footer-end-list {
        display: none !important;
    }

    .copy-right-text {
        text-align: center;
    }

    .top-footer {
        gap: 20px 0px;
    }

    .footer-end {
        margin-top: 30px;
    }
}