/*
Developer:      Awais Goraya
Developer URL:  https://www.linkedin.com/in/awais-goraya-867228235/
Company:        Developera
Company URL:    developera.io
Descriptipon:   This file contains all styling properties for the Payment Success.
*/

@import url(theme-root.css);

.payment-sucess-box {
    width: 768px;
    border: 1px solid var(--Primary-Navy);
    border-radius: 8px;
    box-shadow: 0px 1px 2px #0000000D;
    margin: auto;
}

.payment-sucess-header {
    padding: 24px;
    background-color: #F0FDF4;
    border-bottom: 1px solid var(--Primary-Navy);
}

.payment-sucess-title {
    font-family: var(--nunito-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--prominent-text);
}

.payment-sucess-description {
    font-family: var(--roboto-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #16A34A;
}

.success-order-details,
.subscription-detail-box {
    padding: 24px;
    border-bottom: 1px solid var(--Primary-Navy);
}

.order-detail-title {
    font-family: var(--nunito-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--prominent-text);
}

.success-order-details-list {
    padding: 16px;
    background-color: #F9FAFB;
    border-radius: 8px;
}

.success-order-details-list p,
.next-billing-date {
    font-family: var(--roboto-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
}

.success-order-details-list p .order-id {
    font-weight: 500;
}

.success-order-details-list p span,
.next-billing-date span {
    color: var(--prominent-text);
}

.subscription-box-details {
    padding: 16px;
    background-color: #EFF6FF;
    border-radius: 8px;
}

.subscription-status {
    padding: 2px 10px;
    background-color: #DCFCE7;
    font-family: var(--roboto-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #166534;
    border-radius: 50px;
}

.next-step-guide {
    padding: 24px;
}

.next-step-card {
    padding: 16px;
    border: 1px solid var(--Primary-Navy);
    border-radius: 8px;
}

.next-step-card-title {
    font-family: var(--nunito-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--prominent-text);
}

.next-step-card-description {
    font-family: var(--roboto-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--prominent-dark-text);
}

.btn-next-step {
    padding: 12px 24px;
    border-radius: 6px;
    background-color: var(--primary-bg);
    color: var(--off-text);
    border: 1px solid var(--primary-bg);
    font-family: var(--roboto-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.btn-next-step-2 {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    font-family: var(--roboto-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #374151;
    text-decoration: none;
}

.next-billing-contact {
    font-family: var(--roboto-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--prominent-dark-text);
    text-align: center;
}

.next-billing-contact a{
    color: var(--primary-text);
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .payment-sucess-box{
        width: 600px;
    }
}

@media only screen and (max-width: 480px) {
    .payment-sucess-box{
        width: 340px;
    }
    .payment-sucess-header, .success-order-details, .subscription-detail-box, .next-step-guide{
        padding: 16px;
    }
}